<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ Title }}</title>
        <meta name="author" content="Novanity">
        <meta name="description" content="{{ Description }}">
        <meta name="keywords" content="Mitch, OC, OC Bot, OC Discord Bot, OC Discord, Mitch The Mairal, Novanity, Toyhouse, Toy, House, Toyhou.se, Character">

        <link rel="apple-touch-icon" sizes="180x180" href="./Template/Assets/Favicons/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./Template/Assets/Favicons/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="./Template/Assets/Favicons/favicon-16x16.png">
        <link rel="manifest" href="./Template/Assets/Favicons/site.webmanifest">
        <link rel="mask-icon" href="./Template/Assets/Favicons/safari-pinned-tab.svg" color="#732cf1">
        <meta name="apple-mobile-web-app-title" content="{{ Title }}">
        <meta name="application-name" content="{{ Title }}">
        <meta name="msapplication-TileColor" content="#7330f6">
        <meta name="theme-color" content="#ffffff">

        <meta property="og:title" content="{{ Title }}">
        <meta property="og:description" content="{{ Description }}">
        <meta property="og:url" content="https://Toyhouse.novan1ty.repl.co">
        <meta property="og:image" content="https://i.imgur.com/e50teWs.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@_Novan1ty">
        <meta name="twitter:description" content="{{ Description }}">
        <meta name="twitter:image" content="https://i.imgur.com/NRuozzQ.jpg">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="./Template/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="robots" content="index, follow">
    </head>
    
    <body>
        <!-- Finished at 10/17/21; October 17, 2021 -->

        <section class="Toyhouse-Container">
            <div class="Toyhouse">
                <img class="Toyhouse-Logo" src="./Template/Assets/Toyhou.se.png" alt="Toyhou.se">
                <h1 class="Toyhouse-Text">Toyhou.se | API</h1>
            </div>
            <div class="Novanity">
                <img onclick="Card()" src="./Template/Assets/Mitch - 1.jpg" alt="Mitch">
            </div>
        </section>

        <section class="Toyhouse-API">
            <h1>Endpoints</h1>
            
            <section class="Endpoints">
                <a
                    href="https://toyhouse.novan1ty.repl.co/creator?url="
                    target="blank"
                >Creator</a>
                <a
                    href="https://toyhouse.novan1ty.repl.co/character?url="
                    target="blank"
                >Character</a>
                <a
                    href="https://toyhouse.novan1ty.repl.co/profile?url="
                    target="blank"
                >Profile</a>
                <a
                    href="https://toyhouse.novan1ty.repl.co/gallery?url="
                    target="blank"
                >Gallery</a>
                <a
                    href="https://toyhouse.novan1ty.repl.co/creation?url="
                    target="blank"
                >Creation</a>
                <a
                    href="https://toyhouse.novan1ty.repl.co/tags?url="
                    target="blank"
                >Tags</a>
            </section>
        </section>

        <section class="Footer">
            <div class="Miscellaneous">
                <p>© 2021 Novanity</p>
                <div class="Projects">
                    <a
                        href="https://mitch-discord.web.app"
                        target="blank"
                    >Mitch</a>
                    <a
                        href="https://top.gg/bot/813290586085261322"
                        target="blank"
                    >Rune</a>
                    <a
                        href="https://nova-oc.web.app/"
                        target="blank"
                    >Nova</a>
                    <a
                        href="https://npmjs.org/package/toyhou.se"
                        target="blank"
                    >Toyhou.se</a>
                    <a
                        href="https://npmjs.org/package/discord-character"
                        target="blank"
                    >Discord-Character</a>
                    <a
                        href="https://novanitys-api.novan1ty.repl.co/"
                        target="blank"
                    >Novanity's API</a>
                </div>
            </div>
        </section>
    </body>

    <script>
        function Card() {
            return window.open('https://novanity.carrd.co/')
        }
    </script>
<html>