<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ Title }}</title>
        <meta name="author" content="Novanity">
        <meta name="description" content="{{ Description }}">
        <meta name="keywords" content="Mitch, OC, OC Bot, OC Discord Bot, OC Discord, Mitch The Mairal, Novanity, Toyhouse, Toy, House, Toyhou.se, Character">

        <meta property="og:title" content="{{ Title }}">
        <meta property="og:description" content="{{ Description }}">
        <meta property="og:url" content="https://Toyhouse.novan1ty.repl.co">
        <meta property="og:image" content="https://i.imgur.com/e50teWs.jpg">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="@_Novan1ty">
        <meta name="twitter:description" content="{{ Description }}">
        <meta name="twitter:image" content="https://i.imgur.com/NRuozzQ.jpg">
        <meta name="theme-color" content="#c98aff">
        
        <meta name="robots" content="index, follow">
    </head>
    <body>
        <div>
            Heya.
        </div>
    </body>
</html>